@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f9fafb;
  --foreground: #030712;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f9fafb;
    --foreground: #030712;
  }
}

body {
  @apply box-border m-0 text-gray-600;
  color: var(--foreground);
  background: var(--background);
}

section {
  @apply flex flex-col items-center py-16 px-4 mx-auto text-gray-600;
}

.horizontal {
  @apply flex flex-row items-center justify-center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-heading;
}

h1 {
  @apply text-5xl font-bold;
}

h2 {
  @apply text-4xl font-bold;
}

h3 {
  @apply text-3xl font-bold;
}

h4 {
  @apply text-2xl font-bold;
}

h5 {
  @apply text-xl font-bold;
}

h6 {
  @apply text-lg font-bold;
}
