@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply box-border m-0 text-gray-600;
}

section {
  @apply flex flex-col items-center py-8 px-4 mx-auto text-gray-600;
}

.logged-in-customer-pages {
  @apply bg-gray-200 min-h-screen min-w-full pt-24;
}

.horizontal {
  @apply flex flex-row items-center justify-center;
}

.horizontal-start {
  @apply flex flex-row items-center justify-start;
}

.horizontal-space-between {
  @apply flex flex-row items-center justify-between;
}

.vertical {
  @apply flex flex-col items-center justify-center;
}

.vertical-start {
  @apply flex flex-col items-start justify-start;
}

.vertical-space-between {
  @apply flex flex-col items-start justify-between;
}

.button-gradient {
  @apply bg-gradient-to-r from-yellow-400 to-yellow-700 hover:from-yellow-500 hover:to-orange-800 px-10 py-2 text-gray-50 rounded-full font-semibold cursor-pointer;
}
.button-blue {
  @apply bg-blue-500 px-4 lg:px-10 py-1 lg:py-2 text-gray-50 rounded-full font-semibold hover:bg-blue-700 transition-colors cursor-pointer;
}

.button-light-blue {
  @apply bg-blue-100 px-4 lg:px-10 py-1 lg:py-2 text-blue-500 rounded-full font-semibold hover:bg-indigo-950 hover:text-gray-100 transition-colors cursor-pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-heading mb-6;
}

h1 {
  @apply max-[450px]:text-xl text-5xl font-bold;
}

h2 {
  @apply max-[450px]:text-lg text-4xl font-bold;
}

h3 {
  @apply max-[450px]:text-base text-3xl font-bold;
}

h4 {
  @apply max-[450px]:text-sm text-2xl font-bold;
}

h5 {
  @apply max-[450px]:text-sm text-xl font-bold;
}

h6 {
  @apply max-[450px]:text-sm text-lg font-bold;
}

.navbar h3 {
  @apply !text-lg !my-4 px-4;
}

.footer-grids {
  @apply grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 justify-between max-w-6xl mx-auto w-full px-3;
}
.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

@media (min-width: 950px) {
  .embla__slide {
    flex: 0 0 33%;
  }
}
@layer base {
  :root {
    --background: 0 0% 100%;

    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;

    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;

    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;

    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;

    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;

    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;

    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;

    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;

    --input: 0 0% 89.8%;

    --ring: 0 0% 3.9%;

    --chart-1: 12 76% 61%;

    --chart-2: 173 58% 39%;

    --chart-3: 197 37% 24%;

    --chart-4: 43 74% 66%;

    --chart-5: 27 87% 67%;

    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;

    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;

    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;

    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;

    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;

    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;

    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;

    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;

    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;

    --input: 0 0% 14.9%;

    --ring: 0 0% 83.1%;

    --chart-1: 220 70% 50%;

    --chart-2: 160 60% 45%;

    --chart-3: 30 80% 55%;

    --chart-4: 280 65% 60%;

    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.services-and-processes::-webkit-scrollbar {
  width: 0.2rem;
}

.services-and-processes::-webkit-scrollbar-track {
  background: #9ca3af;
}

.services-and-processes::-webkit-scrollbar-thumb {
  background: #4b5563;
  border-radius: 100vw;
}

.services-and-processes::-webkit-scrollbar-thumb:hover {
  background: #374151;
}

.services-and-processes p {
  @apply text-sm mb-6;
}

.services-and-processes h3 {
  @apply !text-base !my-auto;
}

.services-and-processes h4 {
  @apply !text-sm !my-auto !mb-4;
}

.services-and-processes > div > div > div > div {
  @apply flex flex-row items-center justify-start gap-3 my-3;
}

.services-and-processes span {
  @apply font-semibold;
}

.services-and-processes ul {
  @apply text-sm list-disc space-y-2 pl-4 mb-6;
}

.services-and-processes table td span {
  @apply mr-2;
}

.services-and-processes table td {
  @apply p-2 border border-gray-400;
}

.services-and-processes td:nth-child(2) {
  @apply border-l-2 border-l-gray-500;
}

.services-and-processes tr:nth-child(3) {
  @apply border-b-2 border-b-gray-500;
}

.privacy-highlights p {
  @apply text-gray-200 mb-6;
}

.center-content-on-screen {
  @apply flex max-[570px]:justify-start min-[570px]:justify-center min-h-screen min-w-full overflow-hidden !p-0 !m-0 bg-gray-100 text-gray-600;
}

.centered-content-on-screen {
  @apply flex flex-col justify-between items-center w-full h-screen min-[570px]:w-[450px] min-[570px]:h-[650px] min-[570px]:border bg-white min-[570px]:rounded-3xl p-6;
}

.centered-content-on-screen-rp {
  @apply flex flex-col justify-center max-[570px]:gap-16 min-[570px]:justify-between items-center w-full h-screen min-[570px]:w-[450px] min-[570px]:h-[440px] min-[570px]:border bg-white min-[570px]:rounded-3xl p-6;
}

.user-agreeement a,
.google-recaptcha a {
  @apply text-blue-600 hover:underline transition-all duration-300;
}

.user-agreeement p {
  @apply text-sm text-center;
}

.user-agreeement {
  @apply horizontal max-[570px]:pb-10;
}

.container-input-email-password {
  @apply w-full px-4 py-2 border border-gray-300 rounded-lg bg-gray-100;
}

.input-email-password {
  @apply w-[90%] outline-none bg-transparent focus:bg-transparent;
}

.label-email-password {
  @apply block text-sm text-gray-600 mb-2 text-start;
}

.continue-with-gaft {
  @apply horizontal w-fit p-3 rounded-xl border-2 hover:bg-blue-100 hover:border-blue-400 transition-colors cursor-pointer;
}

.password-eye {
  @apply text-blue-400 hover:text-blue-600 transition-colors;
}

.draft-order-grids-min {
  @apply bg-gray-100 rounded-lg w-full h-fit pl-3 py-2 pr-2 cursor-pointer hover:bg-white transition-all duration-500;
}

.draft-order-grids-min .first-div {
  @apply flex flex-col items-start min-[500px]:flex-row min-[500px]:items-center justify-start w-[90%] text-sm;
}

.draft-order-grids-min .first-div p:first-child {
  @apply w-[33%] sm:w-[25%] text-gray-500;
}

.draft-order-grids-min .second-div {
  @apply flex flex-row items-center justify-between gap-1 w-14 p-1 ml-2 rounded-sm;
}

.prices-table {
  @apply max-w-[90vw] overflow-x-auto text-sm md:text-base;
}

.prices-table table {
  @apply w-full border-collapse;
}

.prices-table table th {
  @apply border border-x-transparent p-3 text-left;
}

.prices-table table tbody tr td:first-child {
  @apply border border-x-transparent p-3 font-semibold;
}

.prices-table table tbody tr .individual-price {
  @apply border border-x-transparent p-3 hover:bg-blue-200;
}
